<!DOCTYPE htmpl>
<html>

<body>
	<h1> SSE Exercise 2 </h1>
	<p>Please enter your name and age:  </p>

	<form action="/submit" method="post">
	<label for="namefield">Name:</label>
	<input type="text" id="namefield" name="name">
	<label for="agefield">Age:</label>
	<input type="number" id="agefield" name="age">

	<p>Enter the age you graduated highschool: </p>

	<label for="yearfield">Graduation year:</label>
	<input type="number" id="yearfield" name="year">
	<input type="submit" value="Submit">
	</form>

</body>

</html>
